# Mac system files
.DS_Store

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Pytest cache
.pytest_cache/

# PyCharm files
.idea/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# FastAPI
instance/
.webenv
.scrapy_httpcache